* {
    padding: 0%;
    margin: 0%;
}

body {
    display: grid;
    grid-template-areas: 
    "header header header"
    "main main main"
    "main main main"
    "main main main"
    "footer footer footer";
}
.header-barra{
    grid-area:header;
    background-color: #fff;
    padding: 50px;
    position: fixed;
    right: 0%;
    color: #777;
    
}
.header-barra a{
    padding: 10px;
    text-decoration: none;
    color: #777;
    font-size: 20px;
}
main {
    grid-area: main;
    justify-self: center;
    ;
    
    
}
.input-central input {
    color: #777;
    text-align: center;
    width: 550px;
    padding: 15px;
    border-radius: 30px;
    position: relative;
    top: 250px;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    border: 0px;

}
.letra-G {
    color: rgb(40, 89, 250);
    text-align: center;
    position: relative;
    top: 250px;
    left: 100px;
    font-size: 100px;
    padding: 10px 5px 60px 5px;
   
}
.letra-o {
    color: rgb(253, 39, 39);
    text-align: center;
    position: relative;
    top: 250px;
    left: 100px;
    font-size: 100px;
    padding: 10px 5px 60px 5px;
}
.letra-ox {
    color: #f7cf1e;
    text-align: center;
    position: relative;
    top: 250px;
    left: 100px;
    font-size: 100px;
    padding: 10px 5px 60px 5px;
    }
    
.letra-g {
        color: rgb(40, 89, 250);
        text-align: center;
        position: relative;
        top: 250px;
        left: 100px;
        font-size: 100px;
        padding: 10px 5px 60px 5px;
        }
.letra-l {
    color: rgb(53, 141, 64);
    text-align: center;
    position: relative;
    top: 250px;
    left: 100px;
    font-size: 100px;
    margin:  10px 5px 60px 5px;
    }
    
.letra-e {
        color: rgb(253, 39, 39);
        text-align: center;
        position: relative;
        top: 250px;
        left: 100px;
        font-size: 100px;
        padding: 10px 10px 60px 10px;
         }  
